<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minuor.aop.dao.MsgDao">

    <insert id="insert">
        insert into t_msg_info
        (receiver,msg_content)
        values
        (#{model.receiver},#{model.msgContent})
    </insert>
</mapper>